# **ETL - POBLACION**

In [1]:
# [Configuración] Importación de librerías
import pandas as pd
import numpy as np

depart = pd.read_csv("../ARCHIVOS/Poblacion/poblacion_departamental_2018-2050.csv", encoding='latin-1', low_memory=False)
munici = pd.read_csv("../ARCHIVOS/Poblacion/poblacion_municipal_2018_2042.csv", encoding='utf-8', low_memory=False)
munici = munici[munici['DP'] == 8]

depart = depart.drop(columns=['DP'])
munici = munici.drop(columns=['DP', 'DPMP', 'DPNOM'])
depart = depart.rename(columns={'DPNOM': 'DEPARTAMENTO', 'TOTAL': 'POBLACIÓN'})
depart['POBLACIÓN'] = (
    depart['POBLACIÓN']
    .astype(str)
    .str.replace(',', '', regex=True)
    .astype(int)
)

depart['DEPARTAMENTO'] = depart['DEPARTAMENTO'].astype(str).str.upper()
munici['MUNICIPIO'] = munici['MUNICIPIO'].astype(str).str.upper()

depart = depart.sort_values(by=['AÑO', 'DEPARTAMENTO'], ascending=[True, True])
munici = munici.sort_values(by=['AÑO', 'MUNICIPIO'], ascending=[True, True])

def restrict(data):
    data = data[(data["AÑO"] >= 2017) & (data["AÑO"] <= 2023)]
    data = data[data["ÁREA GEOGRÁFICA"] == "Total"]
    data = data.drop(columns=['ÁREA GEOGRÁFICA'])
    return data

depart = restrict(depart)
munici = restrict(munici)

In [2]:
def pivot(data, unidad):
    tabla_wide = (
        data.pivot_table(
            index=unidad,       # lo que queda como fila
            columns="AÑO",           # cada año será una columna
            values="POBLACIÓN",      # lo que se distribuye
            aggfunc="sum",           # suma (por si hay más de un registro)
            fill_value=0             # si falta valor, poner 0
        )
        .reset_index()
    )

    # Agregar columna con total por municipio
    tabla_wide["TOTAL"] = tabla_wide.drop(columns=unidad).sum(axis=1)

    display(tabla_wide)
    return tabla_wide

In [3]:
pob_nac = pivot(depart, 'DEPARTAMENTO')

AÑO,DEPARTAMENTO,2018,2019,2020,2021,2022,2023,TOTAL
0,AMAZONAS,76573,78065,79583,80865,81996,83087,480169
1,ANTIOQUIA,6407149,6518070,6642072,6721140,6777249,6826125,39891805
2,ARAUCA,262177,266031,270495,273137,274806,276240,1622886
3,"ARCHIPIÉLAGO DE SAN ANDRÉS, PROVIDENCIA Y SANT...",61284,61679,62127,62573,62801,63007,373471
4,ATLÁNTICO,2535506,2608908,2693388,2741296,2774009,2805401,16158508
5,"BOGOTÁ, D.C.",7391056,7533202,7717564,7804920,7849206,7883928,46179876
6,BOLÍVAR,2070083,2108412,2151461,2177352,2195275,2210979,12913562
7,BOYACÁ,1218755,1233430,1248977,1260227,1268367,1275286,7505042
8,CALDAS,998249,1011586,1025648,1035206,1041232,1044570,6156491
9,CAQUETÁ,402085,406111,410567,414947,418724,422271,2474705
10,CASANARE,420511,430549,441510,449378,455615,461462,2659025
11,CAUCA,1464502,1487377,1510904,1531934,1549859,1565745,9110321
12,CESAR,1200589,1251175,1307763,1347446,1379279,1410147,7896399
13,CHOCÓ,534807,545320,555787,564382,572258,579442,3351996
14,CUNDINAMARCA,2939840,3052321,3157942,3242668,3316583,3388483,19097837
15,CÓRDOBA,1784754,1821239,1859810,1890862,1917742,1943751,11218158
16,GUAINÍA,48081,49948,51772,53485,55129,56697,315112
17,GUAVIARE,82768,83138,83574,83885,84107,84318,501790
18,HUILA,1100364,1117786,1135396,1151482,1166143,1179882,6851053
19,LA GUAJIRA,880552,918062,959829,986573,1007580,1027914,5780510
20,MAGDALENA,1341797,1384062,1432692,1463123,1485394,1506027,8613095
21,META,1039701,1062355,1087196,1104559,1118349,1131202,6543362
22,NARIÑO,1630598,1645708,1661044,1673585,1684282,1694158,9989375
23,NORTE DE SANTANDER,1491720,1545342,1607917,1640270,1659814,1678058,9623121
24,PUTUMAYO,348167,355117,362162,368423,374360,379921,2188150
25,QUINDÍO,539918,544109,548659,552571,554581,555120,3294958
26,RISARALDA,943393,956212,969801,979983,986996,991338,5827723
27,SANTANDER,2184132,2232284,2287806,2319558,2341058,2360567,13725405
28,SUCRE,904850,928362,953654,972704,988782,1004176,5752528
29,TOLIMA,1330184,1341138,1352773,1361747,1368345,1373558,8127745
30,VALLE DEL CAUCA,4475873,4533931,4598318,4636501,4658811,4673395,27576829
31,VAUPÉS,40774,41448,42135,42641,43009,43383,253390
32,VICHADA,107702,114049,120464,126214,131824,137429,737682

In [4]:
pob_mun = pivot(munici, 'MUNICIPIO')

AÑO,MUNICIPIO,2018,2019,2020,2021,2022,2023,TOTAL
0,BARANOA,62371,64550,66927,68800,70464,72072,405184
1,BARRANQUILLA,1206322,1230835,1260910,1271797,1274895,1277216,7521975
2,CAMPO DE LA CRUZ,22876,23641,24454,25124,25669,26217,147981
3,CANDELARIA,15977,16579,17240,17758,18197,18647,104398
4,GALAPA,60724,62945,65478,66754,67560,68313,391774
5,JUAN DE ACOSTA,21005,21596,22270,22748,23149,23545,134313
6,LURUACO,28173,29047,30001,30713,31315,31844,181093
7,MALAMBO,128199,133000,138416,141679,144155,146583,832032
8,MANATÍ,19803,20521,21325,21908,22405,22882,128844
9,PALMAR DE VARELA,28928,30007,31160,32090,32941,33778,188904
10,PIOJÓ,6609,6830,7079,7272,7420,7571,42781
11,POLONUEVO,18187,18749,19368,19836,20229,20628,116997
12,PONEDERA,23842,24518,25284,25818,26243,26657,152362
13,PUERTO COLOMBIA,49250,52086,55121,57267,59069,60841,333634
14,REPELÓN,26207,26977,27800,28418,28912,29382,167696
15,SABANAGRANDE,32341,33538,34851,35912,36855,37771,211268
16,SABANALARGA,93248,95541,98114,99882,101256,102557,590598
17,SANTA LUCÍA,16030,16629,17251,17792,18233,18699,104634
18,SANTO TOMÁS,29842,30976,32228,33251,34180,35083,195560
19,SOLEDAD,603998,627273,653377,670454,683762,696982,3935846
20,SUAN,11937,12350,12827,13192,13503,13814,77623
21,TUBARÁ,17376,17949,18586,19036,19376,19692,112015
22,USIACURÍ,12261,12771,13321,13795,14221,14627,80996

In [7]:
pob_nac.to_csv("../DATA/poblacion_nacional.csv", encoding='latin_1', index=False)
pob_mun.to_csv("../DATA/poblacion_depart.csv", encoding='latin_1', index=False)