# **ETL - CLIMA**

In [7]:
# [Configuración] Importación de librerías
import pandas as pd
import numpy as np

humedad = pd.read_csv('../ARCHIVOS/Entorno/humedad_diario.csv')
precipi = pd.read_csv('../ARCHIVOS/Entorno/precipitacion_diario.csv')
tempera = pd.read_csv('../ARCHIVOS/Entorno/temperaturas_diarias_media.csv')


def play(df): 
    display(df.head())
    display(df.info())

play(humedad)
play(precipi)
play(tempera)

          municipio   año       fecha    humedad    latitud   longitud
0      BARRANQUILLA  2017  2017-01-01  84.950966  10.981528 -74.827749
1           BARANOA  2017  2017-01-01  87.149429  10.793294 -74.922196
2  CAMPO DE LA CRUZ  2017  2017-01-01  86.018448  10.402621 -74.878408
3        CANDELARIA  2017  2017-01-01  87.421638  10.489020 -74.877565
4            GALAPA  2017  2017-01-01  87.403206  10.897721 -74.887089

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58788 entries, 0 to 58787
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   municipio  58788 non-null  object
 1   año        58788 non-null  int64
 2   fecha      58788 non-null  object
 3   humedad    58788 non-null  float64
 4   latitud    58788 non-null  float64
 5   longitud   58788 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 2.7+ MB

None

          municipio   año       fecha  precipitacion
0      BARRANQUILLA  2017  2017-01-01       0.000000
1           BARANOA  2017  2017-01-01      27.000002
2  CAMPO DE LA CRUZ  2017  2017-01-01      30.000002
3        CANDELARIA  2017  2017-01-01      30.000002
4            GALAPA  2017  2017-01-01       0.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58788 entries, 0 to 58787
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   municipio      58788 non-null  object
 1   año            58788 non-null  int64
 2   fecha          58788 non-null  object
 3   precipitacion  58788 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.8+ MB

None

,municipio,año,fecha,temp_min_C,temp_max_C,temp_media_C,latitud,longitud
0,BARRANQUILLA,2017,2017-01-01,25.036157,29.333948,27.185052,10.981528,-74.827749
1,BARANOA,2017,2017-01-01,23.842157,30.672906,27.257532,10.793294,-74.922196
2,CAMPO DE LA CRUZ,2017,2017-01-01,24.547144,33.382349,28.964746,10.402621,-74.878408
3,CANDELARIA,2017,2017-01-01,24.089166,33.059961,28.574564,10.489020,-74.877565
4,GALAPA,2017,2017-01-01,24.095941,29.755792,26.925867,10.897721,-74.887089

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58788 entries, 0 to 58787
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   municipio     58788 non-null  object
 1   año           58788 non-null  int64
 2   fecha         58788 non-null  object
 3   temp_min_C    58788 non-null  float64
 4   temp_max_C    58788 non-null  float64
 5   temp_media_C  58788 non-null  float64
 6   latitud       58788 non-null  float64
 7   longitud      58788 non-null  float64
dtypes: float64(5), int64(1), object(2)
memory usage: 3.6+ MB

None

In [18]:
df = pd.merge(humedad, precipi, on=['municipio', 'año', 'fecha'], how='inner')

# Unir el resultado anterior con temperatura
df = pd.merge(df, tempera, on=['municipio', 'año', 'fecha'], how='inner')

df = df[df['municipio'] != 'BARRANQUILLA']
df = df[df['año'] != 2017]
df = df.rename(columns={'latitud_x': 'latitud'})
df = df.rename(columns={'longitud_x': 'longitud'})
df['fecha'] = pd.to_datetime(df['fecha'])

df = df[['municipio', 'año', 'fecha', 'humedad', 'precipitacion', 'temp_min_C', 'temp_max_C', 'latitud', 'longitud']]
df.to_csv('../DATA/clima_diario.csv')
play(df)

,municipio,año,fecha,humedad,precipitacion,temp_min_C,temp_max_C,latitud,longitud
8396,BARANOA,2018,2018-01-01,88.101349,6.68,23.320825,28.842126,10.793294,-74.922196
8397,CAMPO DE LA CRUZ,2018,2018-01-01,86.504303,6.73,23.905847,30.760614,10.402621,-74.878408
8398,CANDELARIA,2018,2018-01-01,87.891785,6.73,23.477167,30.556146,10.489020,-74.877565
8399,GALAPA,2018,2018-01-01,87.767387,0.68,23.975977,29.207239,10.897721,-74.887089
8400,JUAN DE ACOSTA,2018,2018-01-01,86.047791,2.10,23.653162,29.316431,10.823093,-75.078424

<class 'pandas.core.frame.DataFrame'>
Index: 48202 entries, 8396 to 58787
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   municipio      48202 non-null  object
 1   año            48202 non-null  int64
 2   fecha          48202 non-null  datetime64[ns]
 3   humedad        48202 non-null  float64
 4   precipitacion  48202 non-null  float64
 5   temp_min_C     48202 non-null  float64
 6   temp_max_C     48202 non-null  float64
 7   latitud        48202 non-null  float64
 8   longitud       48202 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(1)
memory usage: 3.7+ MB

None