In [4]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Hp\DENGUE\Data\dengue_data\clima_atl_wide.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14417 entries, 0 to 14416
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CodigoEstacion            14417 non-null  int64
 1   NombreEstacion            14417 non-null  object
 2   Fecha                     14417 non-null  object
 3   Humedad relativa maxima   2418 non-null   float64
 4   Humendad relativa minima  2418 non-null   float64
 5   Precipitacion             12411 non-null  float64
 6   Temperatura maxima        3677 non-null   float64
 7   Temperatura minima        4520 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 901.2+ KB

In [5]:
df['NombreEstacion'].value_counts()

NombreEstacion
BARRANQUILLA SEDE [29040450]                2557
NORMAL MANATI - AUT [29035080]              2492
JUAN DE ACOSTA [29045110]                   2464
HIBACHARO [14010020]                         872
AEROPUERTO E. CORTISSOZ - AUT [29045190]     779
CAMPANOS LOS [29040290]                      739
CAMPO DE LA CRUZ [29040250]                  702
LOMA GRANDE [29030270]                       590
MONTEBELLO [29040020]                        536
LEÑA [29040200]                              533
PIOJO [14010010]                             521
CANDELARIA [29040260]                        518
PINTADA LA [14010100]                        431
CASA DE BOMBAS [29030410]                    422
POLONUEVO [29040080]                         261
Name: count, dtype: int64

In [6]:

import pandas as pd

# Tu dataframe original (ejemplo)
# df = pd.read_csv("tu_archivo.csv")

# -----------------------------
# 1. Crear DataFrame con lat/long/alt
# -----------------------------
data = [
    ["BARRANQUILLA SEDE", 10.99, -74.796, 12],
    ["NORMAL MANATI - AUT", 10.45, -74.95, 10],
    ["JUAN DE ACOSTA", 10.83, -75.05, 20],
    ["HIBACHARO", 10.72, -75.14, 80],
    ["AEROPUERTO E. CORTISSOZ - AUT", 10.91, -74.77, 14],
    ["CAMPANOS LOS", 10.56, -74.97, 100],
    ["CAMPO DE LA CRUZ", 10.38, -74.89, 4],
    ["LOMA GRANDE", 10.43, -75.13, 15],
    ["MONTEBELLO", 10.71, -74.91, 100],
    ["LEÑA", 10.52, -74.89, 45],
    ["PIOJO", 10.75, -75.11, 320],
    ["CANDELARIA", 10.46, -74.89, 4],
    ["PINTADA LA", 10.96, -75.00, 200],
    ["CASA DE BOMBAS", 10.41, -75.13, 10],
    ["POLONUEVO", 10.77, -74.85, 80]
]

geo = pd.DataFrame(data, columns=["NombreLimpio", "Latitud", "Longitud", "Altitud"])

# -----------------------------
# 2. Limpiar nombres en tu df
# (quitar lo que está entre corchetes)
# -----------------------------
df["NombreLimpio"] = df["NombreEstacion"].str.replace(r"\s*\[.*\]", "", regex=True).str.strip()

In [7]:
# -----------------------------
# 3. Hacer merge
# -----------------------------
df = df.merge(geo, on="NombreLimpio", how="left")

# -----------------------------
# 4. Revisar resultado
# -----------------------------
print(df[["NombreEstacion", "Latitud", "Longitud", "Altitud"]].head())

                             NombreEstacion  Latitud  Longitud  Altitud
0            NORMAL MANATI - AUT [29035080]    10.45   -74.950       10
1  AEROPUERTO E. CORTISSOZ - AUT [29045190]    10.91   -74.770       14
2              BARRANQUILLA SEDE [29040450]    10.99   -74.796       12
3                 JUAN DE ACOSTA [29045110]    10.83   -75.050       20
4  AEROPUERTO E. CORTISSOZ - AUT [29045190]    10.91   -74.770       14

In [8]:
df.head()

,CodigoEstacion,NombreEstacion,Fecha,Humedad relativa maxima,Humendad relativa minima,Precipitacion,Temperatura maxima,Temperatura minima,NombreLimpio,Latitud,Longitud,Altitud
0,29035080,NORMAL MANATI - AUT [29035080],31/12/2016,NaN,NaN,NaN,34.0,24.2,NORMAL MANATI - AUT,10.45,-74.950,10
1,29045190,AEROPUERTO E. CORTISSOZ - AUT [29045190],31/12/2016,NaN,NaN,0.0,NaN,NaN,AEROPUERTO E. CORTISSOZ - AUT,10.91,-74.770,14
2,29040450,BARRANQUILLA SEDE [29040450],01/01/2017,NaN,NaN,0.0,NaN,NaN,BARRANQUILLA SEDE,10.99,-74.796,12
3,29045110,JUAN DE ACOSTA [29045110],01/01/2017,NaN,NaN,NaN,32.2,23.0,JUAN DE ACOSTA,10.83,-75.050,20
4,29045190,AEROPUERTO E. CORTISSOZ - AUT [29045190],01/01/2017,NaN,NaN,0.0,NaN,NaN,AEROPUERTO E. CORTISSOZ - AUT,10.91,-74.770,14

In [9]:
df.isna().sum()

CodigoEstacion                  0
NombreEstacion                  0
Fecha                           0
Humedad relativa maxima     11999
Humendad relativa minima    11999
Precipitacion                2006
Temperatura maxima          10740
Temperatura minima           9897
NombreLimpio                    0
Latitud                         0
Longitud                        0
Altitud                         0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14417 entries, 0 to 14416
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CodigoEstacion            14417 non-null  int64
 1   NombreEstacion            14417 non-null  object
 2   Fecha                     14417 non-null  object
 3   Humedad relativa maxima   2418 non-null   float64
 4   Humendad relativa minima  2418 non-null   float64
 5   Precipitacion             12411 non-null  float64
 6   Temperatura maxima        3677 non-null   float64
 7   Temperatura minima        4520 non-null   float64
 8   NombreLimpio              14417 non-null  object
 9   Latitud                   14417 non-null  float64
 10  Longitud                  14417 non-null  float64
 11  Altitud                   14417 non-null  int64
dtypes: float64(7), int64(2), object(3)
memory usage: 1.3+ MB

In [10]:
df['NombreLimpio'].value_counts()

NombreLimpio
BARRANQUILLA SEDE                2557
NORMAL MANATI - AUT              2492
JUAN DE ACOSTA                   2464
HIBACHARO                         872
AEROPUERTO E. CORTISSOZ - AUT     779
CAMPANOS LOS                      739
CAMPO DE LA CRUZ                  702
LOMA GRANDE                       590
MONTEBELLO                        536
LEÑA                              533
PIOJO                             521
CANDELARIA                        518
PINTADA LA                        431
CASA DE BOMBAS                    422
POLONUEVO                         261
Name: count, dtype: int64

In [11]:
df.to_csv("Climaticas.csv")