In [1]:
import pandas as pd
import os

In [2]:
ruta_a = r"C:\Users\Hp\Downloads\poblacion_municipal_2005_2017.csv"
ruta_b = r"C:\Users\Hp\Downloads\poblacion_municipal_2018_2042.csv"

df_a = pd.read_csv(ruta_a, encoding='utf-8', low_memory=False)
df_b = pd.read_csv(ruta_b, encoding='utf-8', low_memory=False)


df = pd.concat([df_a, df_b], ignore_index=True)

In [3]:
df_filtrado = df[(df["AÑO"] >= 2017) & (df["AÑO"] <= 2023)]
df_filtrado = df_filtrado[df_filtrado["ÁREA GEOGRÁFICA"] == "Total"]
df_filtrado = df_filtrado[df_filtrado["DPNOM"] == 'Atlántico']

print(df_filtrado["AÑO"].unique())

[2017. 2018. 2019. 2020. 2021. 2022. 2023.]

In [4]:
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 161 entries, 40769 to 61044
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DP               161 non-null    object
 1   DPNOM            161 non-null    object
 2   MUNICIPIO        161 non-null    object
 3   DPMP             23 non-null     float64
 4   AÑO              161 non-null    float64
 5   ÁREA GEOGRÁFICA  161 non-null    object
 6   Población        161 non-null    float64
 7   MPIO             138 non-null    float64
dtypes: float64(4), object(4)
memory usage: 11.3+ KB

In [19]:
df_filtrado['MUNICIPIO'] = df_filtrado['MUNICIPIO'].str.upper()

df_filtrado['MUNICIPIO'].unique()

array(['BARRANQUILLA', 'BARANOA', 'CAMPO DE LA CRUZ', 'CANDELARIA',
       'GALAPA', 'JUAN DE ACOSTA', 'LURUACO', 'MALAMBO', 'MANATÍ',
       'PALMAR DE VARELA', 'PIOJÓ', 'POLONUEVO', 'PONEDERA',
       'PUERTO COLOMBIA', 'REPELÓN', 'SABANAGRANDE', 'SABANALARGA',
       'SANTA LUCÍA', 'SANTO TOMÁS', 'SOLEDAD', 'SUAN', 'TUBARÁ',
       'USIACURÍ'], dtype=object)

In [20]:
df_filtrado.to_csv("Poblacion_atl.csv", encoding='latin_1')

In [21]:
df_pob = pd.read_csv(r"C:\Users\Hp\DENGUE\scripts\Poblacion_atl.csv", encoding='latin_1', low_memory=False)
df_pob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       161 non-null    int64
 1   DP               161 non-null    int64
 2   DPNOM            161 non-null    object
 3   MUNICIPIO        161 non-null    object
 4   DPMP             23 non-null     float64
 5   AÑO              161 non-null    float64
 6   ÁREA GEOGRÁFICA  161 non-null    object
 7   Población        161 non-null    float64
 8   MPIO             138 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 11.4+ KB

In [22]:
tabla_wide = (
    df_pob.pivot_table(
        index="MUNICIPIO",       # lo que queda como fila
        columns="AÑO",           # cada año será una columna
        values="Población",      # lo que se distribuye
        aggfunc="sum",           # suma (por si hay más de un registro)
        fill_value=0             # si falta valor, poner 0
    )
    .reset_index()
)

# Agregar columna con total por municipio
tabla_wide["TOTAL"] = tabla_wide.drop(columns="MUNICIPIO").sum(axis=1)

tabla_wide

AÑO,MUNICIPIO,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0,TOTAL
0,BARANOA,60676.0,62371.0,64550.0,66927.0,68800.0,70464.0,72072.0,465860.0
1,BARRANQUILLA,1180860.0,1206322.0,1230835.0,1260910.0,1271797.0,1274895.0,1277216.0,8702835.0
2,CAMPO DE LA CRUZ,22604.0,22876.0,23641.0,24454.0,25124.0,25669.0,26217.0,170585.0
3,CANDELARIA,15543.0,15977.0,16579.0,17240.0,17758.0,18197.0,18647.0,119941.0
4,GALAPA,58493.0,60724.0,62945.0,65478.0,66754.0,67560.0,68313.0,450267.0
5,JUAN DE ACOSTA,20366.0,21005.0,21596.0,22270.0,22748.0,23149.0,23545.0,154679.0
6,LURUACO,27455.0,28173.0,29047.0,30001.0,30713.0,31315.0,31844.0,208548.0
7,MALAMBO,124251.0,128199.0,133000.0,138416.0,141679.0,144155.0,146583.0,956283.0
8,MANATÍ,19426.0,19803.0,20521.0,21325.0,21908.0,22405.0,22882.0,148270.0
9,PALMAR DE VARELA,28113.0,28928.0,30007.0,31160.0,32090.0,32941.0,33778.0,217017.0
10,PIOJÓ,6415.0,6609.0,6830.0,7079.0,7272.0,7420.0,7571.0,49196.0
11,POLONUEVO,17698.0,18187.0,18749.0,19368.0,19836.0,20229.0,20628.0,134695.0
12,PONEDERA,23193.0,23842.0,24518.0,25284.0,25818.0,26243.0,26657.0,175555.0
13,PUERTO COLOMBIA,47674.0,49250.0,52086.0,55121.0,57267.0,59069.0,60841.0,381308.0
14,REPELÓN,25524.0,26207.0,26977.0,27800.0,28418.0,28912.0,29382.0,193220.0
15,SABANAGRANDE,31373.0,32341.0,33538.0,34851.0,35912.0,36855.0,37771.0,242641.0
16,SABANALARGA,90769.0,93248.0,95541.0,98114.0,99882.0,101256.0,102557.0,681367.0
17,SANTA LUCÍA,15548.0,16030.0,16629.0,17251.0,17792.0,18233.0,18699.0,120182.0
18,SANTO TOMÁS,29001.0,29842.0,30976.0,32228.0,33251.0,34180.0,35083.0,224561.0
19,SOLEDAD,583036.0,603998.0,627273.0,653377.0,670454.0,683762.0,696982.0,4518882.0
20,SUAN,11696.0,11937.0,12350.0,12827.0,13192.0,13503.0,13814.0,89319.0
21,TUBARÁ,16827.0,17376.0,17949.0,18586.0,19036.0,19376.0,19692.0,128842.0
22,USIACURÍ,11888.0,12261.0,12771.0,13321.0,13795.0,14221.0,14627.0,92884.0

In [23]:
tabla_wide.to_csv("tabla_municipios.csv", index=False, encoding="utf-8-sig")

In [5]:
import geopandas as gpd

# Cargar el shapefile completo
gdf = gpd.read_file(r"C:\Users\Hp\Downloads\MGN2024_MPIO_POLITICO\MGN_ADM_MPIO_GRAFICO.shp")

# Revisar qué columnas trae
print(gdf.columns)
print(gdf.head())

Index(['dpto_ccdgo', 'mpio_ccdgo', 'mpio_cdpmp', 'dpto_cnmbr', 'mpio_cnmbr',
       'mpio_crslc', 'mpio_tipo', 'mpio_narea', 'mpio_nano', 'shape_Leng',
       'shape_Area', 'geometry'],
      dtype='object')
  dpto_ccdgo mpio_ccdgo mpio_cdpmp dpto_cnmbr  mpio_cnmbr  \
0         05        001      05001  ANTIOQUIA    MEDELLÍN
1         05        002      05002  ANTIOQUIA   ABEJORRAL
2         05        004      05004  ANTIOQUIA    ABRIAQUÍ
3         05        021      05021  ANTIOQUIA  ALEJANDRÍA
4         05        030      05030  ANTIOQUIA       AMAGÁ

                          mpio_crslc  mpio_tipo  mpio_narea  mpio_nano  \
0                               1965  MUNICIPIO  374.834005       2024
1                               1814  MUNICIPIO  507.141095       2024
2                               1912  MUNICIPIO  296.894050       2024
3  Decreto departamental 304 de 1907  MUNICIPIO  128.932153       2024
4                               1912  MUNICIPIO   84.132477       2024

   shape_Leng  shape_Area                                           geometry
0    1.035380    0.030608  POLYGON ((-75.66974 6.3736, -75.66965 6.3736, ...
1    1.158504    0.041384  POLYGON ((-75.46938 5.94575, -75.46897 5.94571...
2    0.812183    0.024248  POLYGON ((-76.08351 6.7505, -76.08325 6.75048,...
3    0.705200    0.010535  POLYGON ((-75.0332 6.41586, -75.03313 6.41585,...
4    0.445533    0.006867  POLYGON ((-75.67587 6.08561, -75.6754 6.08491,...

In [6]:
gdf['dpto_ccdgo'].unique()

array(['05', '08', '11', '13', '15', '17', '18', '19', '20', '23', '25',
       '27', '41', '44', '47', '50', '52', '54', '63', '66', '68', '70',
       '73', '76', '81', '85', '86', '88', '91', '94', '95', '97', '99'],
      dtype=object)

In [7]:
# Filtrar solo Atlántico por código (DP == 8)
gdf_atlantico = gdf[gdf['dpto_ccdgo'] == '08']
gdf_atlantico['dpto_ccdgo'].unique()

array(['08'], dtype=object)

In [8]:
print(gdf_atlantico.columns)
print(gdf_atlantico.head())

Index(['dpto_ccdgo', 'mpio_ccdgo', 'mpio_cdpmp', 'dpto_cnmbr', 'mpio_cnmbr',
       'mpio_crslc', 'mpio_tipo', 'mpio_narea', 'mpio_nano', 'shape_Leng',
       'shape_Area', 'geometry'],
      dtype='object')
    dpto_ccdgo mpio_ccdgo mpio_cdpmp dpto_cnmbr        mpio_cnmbr  \
125         08        001      08001  ATLÁNTICO      BARRANQUILLA
126         08        078      08078  ATLÁNTICO           BARANOA
127         08        137      08137  ATLÁNTICO  CAMPO DE LA CRUZ
128         08        141      08141  ATLÁNTICO        CANDELARIA
129         08        296      08296  ATLÁNTICO            GALAPA

                                            mpio_crslc  mpio_tipo  mpio_narea  \
125  Ordenanza 30 del 5 de Mayo de 1913 Ley 44 del ...  MUNICIPIO  154.285925
126             Ordenanza 11 del 23 de Octubre de 1856  MUNICIPIO  121.350425
127               Ordenanza 34 del 16 de Abril de 1914  MUNICIPIO   99.995006
128                                     Ley 27 de 1860  MUNICIPIO  135.766433
129                                     Ley 37 de 1873  MUNICIPIO   97.515400

     mpio_nano  shape_Leng  shape_Area  \
125       2024    0.817698    0.012760
126       2024    0.729312    0.010029
127       2024    0.653301    0.008254
128       2024    0.571878    0.011210
129       2024    0.424939    0.008062

                                              geometry
125  POLYGON ((-74.84946 11.09778, -74.84938 11.097...
126  POLYGON ((-74.94481 10.85842, -74.94458 10.858...
127  POLYGON ((-74.80921 10.48624, -74.80821 10.484...
128  POLYGON ((-74.8587 10.56139, -74.8581 10.56067...
129  POLYGON ((-74.8926 10.95031, -74.89257 10.9500...

In [9]:
gdf_atlantico['mpio_cnmbr'].unique()

array(['BARRANQUILLA', 'BARANOA', 'CAMPO DE LA CRUZ', 'CANDELARIA',
       'GALAPA', 'JUAN DE ACOSTA', 'LURUACO', 'MALAMBO', 'MANATÍ',
       'PALMAR DE VARELA', 'PIOJÓ', 'POLONUEVO', 'PONEDERA',
       'PUERTO COLOMBIA', 'REPELÓN', 'SABANAGRANDE', 'SABANALARGA',
       'SANTA LUCÍA', 'SANTO TOMÁS', 'SOLEDAD', 'SUAN', 'TUBARÁ',
       'USIACURÍ'], dtype=object)

In [10]:
gdf_atlantico.to_file("atlantico_municipios.shp")