# **PRO - Consolidados**

In [10]:
import pandas as pd
import numpy as np
import re

In [11]:
data_col = pd.read_csv(r"C:\Users\Hp\DENGUE\DATA\Data_Colombia.csv")
data_atl = pd.read_csv(r"C:\Users\Hp\DENGUE\DATA\Data_Atlantico.csv")
data_bqui= pd.read_csv(r"C:\Users\Hp\DENGUE\DATA\Data_Barranquilla.csv")

## Semana epidemiológica

In [12]:

def resumen_por_semana(df):
    # columnas a ignorar
    ignorar = ['edad_años', 'periodo', 'fecha_inicio_sintomas', 'fecha_consulta',
               'fecha_hospitalizacion', 'fecha_notificacion', 'fecha_nacimiento', 'año', 'semana',
               'direccion', 'localidad', 'barrio', 'periodo']
    
    # seleccionar solo columnas categóricas relevantes
    cols_cat = [c for c in df.columns if c not in ignorar]
    
    # combinar año y semana en una sola columna
    df['año_semana'] = df['año'].astype(str) + '_' + df['semana'].astype(str)
    
    resultados = []
    
    # para cada columna categórica (excepto año y semana)
    for col in cols_cat:
        if col not in ['año', 'semana']:
            conteo = df.groupby(['año_semana', col]).size().unstack(fill_value=0)
            resultados.append(conteo)
    
    # unir todos los conteos
    resumen = pd.concat(resultados, axis=1)
    
    # resetear el índice
    resumen = resumen.reset_index().fillna(0)
    resumen[['año', 'semana']] = resumen['año_semana'].str.split('_', expand=True).astype(int)
    resumen = resumen.sort_values(by=['año', 'semana']).reset_index(drop=True)
    resumen['año_semana'] = resumen['año'].astype(str) + '_' + resumen['semana'].astype(str)

    total_eventos = df.groupby('año_semana')['evento'].count().reset_index(name='total_casos')
    resumen = resumen.merge(total_eventos, on='año_semana', how='left')

    return resumen

In [13]:
consolidado_atl = resumen_por_semana(data_atl)
consolidado_col = resumen_por_semana(data_col)
consolidado_bquilla = resumen_por_semana(data_bqui)

In [32]:
consolidado_bquilla.to_csv("../DATA/Resumen/casosXsemana_bquilla.csv", index=False)
consolidado_atl.to_csv("../DATA/Resumen/casosXsemana_atl.csv", index=False)
consolidado_col.to_csv("../DATA/Resumen/casosXsemana_col.csv", index=False)

## Casos netos por unidad geográfica

### Nación

In [15]:
# Para data_col (solo departamento)
total_col = data_col.groupby('departamento').size().reset_index(name='total_casos')
print("Total de casos por departamento (data_col):")
total_col

Total de casos por departamento (data_col):

                                         departamento  total_casos
0                                            AMAZONAS         4870
1                                           ANTIOQUIA        71052
2                                              ARAUCA         8943
3   ARCHIPIÉLAGO DE SAN ANDRÉS, PROVIDENCIA Y SANT...          954
4                                           ATLÁNTICO        55069
5                                        BOGOTÁ, D.C.          316
6                                             BOLÍVAR        45869
7                                              BOYACÁ         6716
8                                              CALDAS         5161
9                                             CAQUETÁ        10403
10                                           CASANARE        23437
11                                              CAUCA         7419
12                                              CESAR        36207
13                                              CHOCÓ         5209
14                                       CUNDINAMARCA        31627
15                                            CÓRDOBA        30818
16                                            GUAINÍA         1004
17                                           GUAVIARE         4676
18                                              HUILA        48034
19                                         LA GUAJIRA        15039
20                                          MAGDALENA        20644
21                                               META        70671
22                                             NARIÑO         6977
23                                    NO IDENTIFICADO         2489
24                                 NORTE DE SANTANDER        47139
25                                           PUTUMAYO        13442
26                                            QUINDIO        14298
27                                          RISARALDA         7304
28                                          SANTANDER        77715
29                                              SUCRE        30919
30                                             TOLIMA        81906
31                                    VALLE DEL CAUCA       159217
32                                             VAUPÉS          636
33                                            VICHADA         1610

### Departamento

In [16]:
# Para data_atl (solo municipio)
total_atl = data_atl.groupby('municipio').size().reset_index(name='total_casos')
print("\nTotal de casos por municipio (data_atl):")
total_atl

Total de casos por municipio (data_atl):

           municipio  total_casos
0            BARANOA         1206
1   CAMPO DE LA CRUZ          152
2         CANDELARIA           91
3        DESCONOCIDO           27
4             GALAPA         1143
5     JUAN DE ACOSTA          331
6            LURUACO          287
7            MALAMBO         2087
8             MANATÍ          264
9   PALMAR DE VARELA          187
10             PIOJÓ           80
11         POLONUEVO          447
12          PONEDERA          260
13   PUERTO COLOMBIA          941
14           REPELÓN          114
15      SABANAGRANDE          135
16       SABANALARGA         1177
17       SANTA LUCÍA           55
18       SANTO TOMÁS          148
19           SOLEDAD         8790
20              SUAN          151
21            TUBARÁ          103
22          USIACURÍ          400

In [33]:
total_col.to_csv("../DATA/Resumen/casosXdpt.csv", index=False)
total_atl.to_csv("../DATA/Resumen/casosXmun.csv", index=False)

## Consolidado por unidad geográfica, evento y año

### Nación

In [18]:

# Filtrar evento Clásico
data_clasico = data_col[data_col["evento"] == "Clasico"]

# Total por departamento
total_clasico = data_clasico.groupby("departamento").size().reset_index(name="total_casos_clasico")

# Total por municipio y año
total_clasico_año = data_clasico.groupby(["departamento", "año"]).size().reset_index(name="casos_por_año_clasico")

# Pivotear años como columnas
tabla_clasico_año = total_clasico_año.pivot(index="departamento", columns="año", values="casos_por_año_clasico").fillna(0).astype(int)
tabla_clasico_año["total_casos_clasico"] = tabla_clasico_año.sum(axis=1)
tabla_clasico_año.reset_index(inplace=True)

tabla_clasico_año

año,departamento,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,total_casos_clasico
0,AMAZONAS,274,485,160,115,62,48,1713,202,312,473,1004,4848
1,ANTIOQUIA,5761,6762,6779,27622,4088,3668,4978,2133,1238,2007,5239,70275
2,ARAUCA,1013,704,726,310,297,536,1954,346,262,1412,1203,8763
3,"ARCHIPIÉLAGO DE SAN ANDRÉS, PROVIDENCIA Y SANT...",67,99,153,68,23,16,28,69,189,109,123,944
4,ATLÁNTICO,7550,6523,4317,1361,1157,3245,3905,2613,7661,10143,5384,53859
5,"BOGOTÁ, D.C.",142,160,0,0,0,0,0,0,0,0,0,302
6,BOLÍVAR,4447,2864,3035,1204,479,1347,5238,2438,8139,6894,8610,44695
7,BOYACÁ,685,540,920,2076,195,91,829,505,287,192,331,6651
8,CALDAS,737,918,1144,781,102,46,431,493,74,180,178,5084
9,CAQUETÁ,1084,735,834,892,260,187,1200,1781,388,1042,1854,10257
10,CASANARE,3404,2248,1929,952,414,1198,5591,1090,1090,3855,1419,23190
11,CAUCA,566,371,621,831,100,177,409,1246,644,546,1782,7293
12,CESAR,4555,3285,4420,1129,604,2068,7140,2215,1983,3140,4909,35448
13,CHOCÓ,139,224,322,384,79,83,202,686,471,905,1653,5148
14,CUNDINAMARCA,4357,3970,3241,4359,1134,1269,3421,3730,948,729,4118,31276
15,CÓRDOBA,2094,4218,1698,769,576,3880,4802,1673,2610,3849,4207,30376
16,GUAINÍA,36,199,77,193,9,16,153,41,38,123,102,987
17,GUAVIARE,291,717,234,298,120,889,545,116,29,650,758,4647
18,HUILA,4776,6982,4853,3877,1200,1094,10656,6604,1073,1144,4529,46788
19,LA GUAJIRA,2009,1504,813,226,159,1506,989,390,1177,3128,2785,14686
20,MAGDALENA,3001,1387,1471,550,148,2116,3569,1049,1897,1459,3408,20055
21,META,9048,7495,6103,2562,1251,4485,16902,2700,1491,5326,12546,69909
22,NARIÑO,553,636,395,504,118,168,529,473,674,631,2202,6883
23,NO IDENTIFICADO,144,185,76,75,49,395,649,199,151,263,245,2431
24,NORTE DE SANTANDER,7907,8535,4185,2664,1184,4829,6356,1220,2845,2512,4297,46534
25,PUTUMAYO,1752,1861,1124,1407,347,791,1787,1112,1089,655,1416,13341
26,QUINDIO,1926,3322,3684,2550,582,456,470,527,144,84,451,14196
27,RISARALDA,418,696,1369,2920,175,165,450,547,118,100,252,7210
28,SANTANDER,15892,14307,8186,6864,1839,2628,9650,3422,924,1865,11285,76862
29,SUCRE,3444,4711,2861,885,416,684,6248,1583,1369,4695,3355,30251
30,TOLIMA,12109,8264,9314,5745,2978,3253,14839,6774,1495,3244,12266,80281
31,VALLE DEL CAUCA,21963,10188,19810,25714,4838,2284,7374,28284,8440,4216,23978,157089
32,VAUPÉS,26,10,2,11,1,4,204,65,3,11,294,631
33,VICHADA,271,206,124,173,32,15,383,53,51,82,198,1588

In [20]:
# Filtrar evento Clásico
data_grave = data_col[data_col["evento"] == "Grave"]

# Total por departamento
total_grave = data_grave.groupby("departamento").size().reset_index(name="total_casos_grave")

# Total por departamento y año
total_grave_año = data_grave.groupby(["departamento", "año"]).size().reset_index(name="casos_por_año_grave")

# Pivotear años como columnas
tabla_grave_año = total_grave_año.pivot(index="departamento", columns="año", values="casos_por_año_grave").fillna(0).astype(int)
tabla_grave_año["total_casos_grave"] = tabla_grave_año.sum(axis=1)
tabla_grave_año.reset_index(inplace=True)

tabla_grave_año

año,departamento,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,total_casos_grave
0,AMAZONAS,5,5,1,0,0,0,4,0,4,1,2,22
1,ANTIOQUIA,125,177,64,111,22,57,41,25,23,51,81,777
2,ARAUCA,98,21,10,4,3,7,20,4,1,7,5,180
3,"ARCHIPIÉLAGO DE SAN ANDRÉS, PROVIDENCIA Y SANT...",2,4,1,0,0,0,0,2,0,0,1,10
4,ATLÁNTICO,145,127,93,50,39,47,58,43,188,333,87,1210
5,"BOGOTÁ, D.C.",6,8,0,0,0,0,0,0,0,0,0,14
6,BOLÍVAR,163,121,90,13,4,43,113,71,237,167,152,1174
7,BOYACÁ,14,7,15,9,3,5,5,0,0,3,4,65
8,CALDAS,21,22,16,1,1,1,5,6,0,2,2,77
9,CAQUETÁ,18,16,9,10,4,3,18,36,6,10,16,146
10,CASANARE,24,34,13,3,0,23,37,4,26,52,31,247
11,CAUCA,23,10,16,16,1,0,11,21,0,5,23,126
12,CESAR,158,122,57,14,4,27,53,24,57,91,152,759
13,CHOCÓ,10,8,3,0,1,1,2,4,1,11,20,61
14,CUNDINAMARCA,91,97,37,25,8,8,23,17,2,10,33,351
15,CÓRDOBA,52,96,25,10,8,41,50,12,31,82,35,442
16,GUAINÍA,0,3,0,10,0,0,0,0,2,2,0,17
17,GUAVIARE,1,12,1,0,0,3,2,1,0,7,2,29
18,HUILA,85,158,199,112,33,16,278,121,25,37,182,1246
19,LA GUAJIRA,59,33,24,4,3,19,15,4,47,101,44,353
20,MAGDALENA,161,63,50,9,2,22,103,55,51,23,50,589
21,META,49,305,45,28,15,53,113,15,8,36,95,762
22,NARIÑO,16,13,6,4,5,3,3,10,5,6,23,94
23,NO IDENTIFICADO,2,7,1,1,0,13,9,2,8,10,5,58
24,NORTE DE SANTANDER,106,123,63,20,4,34,48,16,60,40,91,605
25,PUTUMAYO,16,34,1,4,2,6,10,4,5,5,14,101
26,QUINDIO,20,37,24,9,1,0,2,0,2,4,3,102
27,RISARALDA,17,28,17,16,1,2,4,4,2,2,1,94
28,SANTANDER,223,239,44,69,14,17,41,16,16,34,140,853
29,SUCRE,123,74,57,16,3,14,113,50,47,114,57,668
30,TOLIMA,484,314,301,122,34,44,89,42,5,44,146,1625
31,VALLE DEL CAUCA,787,296,138,202,21,10,76,252,80,46,220,2128
32,VAUPÉS,0,0,0,0,0,0,1,0,0,1,3,5
33,VICHADA,5,5,0,7,0,0,1,1,1,2,0,22

In [35]:
tabla_clasico_año.to_csv("../DATA/Resumen/casos_dpto_año_clasico.csv")
tabla_grave_año.to_csv("../DATA/Resumen/casos_dpto_año_grave.csv")

### Departamento

In [26]:
# Filtrar evento Clásico
data_clasico = data_atl[data_atl["evento"] == "Clasico"]

# Total por municipio
total_clasico = data_clasico.groupby("municipio").size().reset_index(name="total_casos_clasico")

# Total por municipio y año
total_clasico_año = data_clasico.groupby(["municipio", "año"]).size().reset_index(name="casos_por_año_clasico")

# Pivotear años como columnas
tabla_clasico_año = total_clasico_año.pivot(index="municipio", columns="año", values="casos_por_año_clasico").fillna(0).astype(int)
tabla_clasico_año["total_casos_clasico"] = tabla_clasico_año.sum(axis=1)
tabla_clasico_año.reset_index(inplace=True)

tabla_clasico_año

año,municipio,2017,2018,2019,2020,2021,2022,2023,total_casos_clasico
0,BARANOA,7,158,387,167,105,95,267,1186
1,CAMPO DE LA CRUZ,4,0,29,6,12,76,18,145
2,CANDELARIA,3,1,28,2,1,11,42,88
3,DESCONOCIDO,1,20,3,0,0,0,2,26
4,GALAPA,38,134,61,35,160,342,339,1109
5,JUAN DE ACOSTA,3,49,34,9,27,94,109,325
6,LURUACO,13,5,47,31,166,10,9,281
7,MALAMBO,22,154,159,216,717,231,546,2045
8,MANATÍ,4,4,48,6,48,131,15,256
9,PALMAR DE VARELA,10,6,22,16,8,15,106,183
10,PIOJÓ,0,7,0,6,10,9,46,78
11,POLONUEVO,5,197,114,13,27,26,61,443
12,PONEDERA,3,6,56,27,8,36,118,254
13,PUERTO COLOMBIA,13,38,41,24,67,490,211,884
14,REPELÓN,11,1,22,57,5,1,12,109
15,SABANAGRANDE,5,12,14,27,18,15,42,133
16,SABANALARGA,10,98,318,117,168,297,137,1145
17,SANTA LUCÍA,0,0,3,17,8,11,16,55
18,SANTO TOMÁS,11,7,11,9,11,16,82,147
19,SOLEDAD,317,664,605,455,1518,2051,3013,8623
20,SUAN,0,1,20,15,4,61,46,147
21,TUBARÁ,9,11,3,16,9,27,23,98
22,USIACURÍ,12,18,6,2,2,9,349,398

In [27]:
# Filtrar evento Clásico
data_grave = data_atl[data_atl["evento"] == "Grave"]

# Total por municipio
total_grave = data_grave.groupby("municipio").size().reset_index(name="total_casos_grave")

# Total por municipio y año
total_grave_año = data_grave.groupby(["municipio", "año"]).size().reset_index(name="casos_por_año_grave")

# Pivotear años como columnas
tabla_grave_año = total_grave_año.pivot(index="municipio", columns="año", values="casos_por_año_grave").fillna(0).astype(int)
tabla_grave_año["total_casos_grave"] = tabla_grave_año.sum(axis=1)
tabla_grave_año.reset_index(inplace=True)

tabla_grave_año

año,municipio,2017,2018,2019,2020,2021,2022,2023,total_casos_grave
0,BARANOA,0,4,8,3,3,1,1,20
1,CAMPO DE LA CRUZ,0,0,1,0,3,3,0,7
2,CANDELARIA,0,0,0,0,0,2,1,3
3,DESCONOCIDO,1,0,0,0,0,0,0,1
4,GALAPA,1,2,1,0,6,20,4,34
5,JUAN DE ACOSTA,0,0,0,0,0,5,1,6
6,LURUACO,0,0,2,0,2,2,0,6
7,MALAMBO,0,3,5,5,13,14,2,42
8,MANATÍ,0,0,1,0,0,6,1,8
9,PALMAR DE VARELA,0,0,1,0,0,1,2,4
10,PIOJÓ,0,0,0,0,0,1,1,2
11,POLONUEVO,0,2,2,0,0,0,0,4
12,PONEDERA,0,0,0,0,1,2,3,6
13,PUERTO COLOMBIA,1,0,0,1,3,49,3,57
14,REPELÓN,0,0,1,0,1,3,0,5
15,SABANAGRANDE,0,0,0,0,1,0,1,2
16,SABANALARGA,0,1,3,5,6,14,3,32
17,SANTO TOMÁS,0,0,0,0,0,0,1,1
18,SOLEDAD,7,10,5,7,33,74,31,167
19,SUAN,0,0,0,0,0,4,0,4
20,TUBARÁ,1,0,1,1,0,2,0,5
21,USIACURÍ,0,0,1,0,0,0,1,2

In [34]:
tabla_clasico_año.to_csv("../DATA/Resumen/casos_mun_año_clasico.csv")
tabla_grave_año.to_csv("../DATA/Resumen/casos_mun_año_grave.csv")